<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .chartContainer {
            height: 300px;
            width: 100%;
        }

        .headerContainer {
            height: 50px;
            width: 100%;
            align-content: center; 
        }
        a {
            margin-left: 50px;
            margin-right: 50px;
        }
    </style>

    <script type="text/javascript" src="~/Scripts/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/signalr/jquery.signalR-2.1.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/canvasjs/canvasjs.min.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout/knockout-3.1.0.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script><!--auto generated proxy-->
    <script type="text/javascript" src="~/Scripts/TS/Incoming/PushDiagram/UpdateDiagramModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Shared/DiagramLineModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Shared/DiagramModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Shared/DiagramPointModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Shared/DiagramType.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Responce/ResponseTemplate.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Responce/GenericResponseModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Incoming/Responce/GenericPushModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Point.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/DiagramLineWithPointsModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/DiagramViewModel.js"></script>
    <script type="text/javascript" src="~/Scripts/TS/Pages/BasePageModel.js"></script>
    
    <script type="text/javascript">

        var onDeleteDiagramClick = function (id) {

            var diagramId = id.replace("button", "");

            model.close(diagramId);
        };

        var onChangeDiagramTypeClick = function (id) {

            var diagramId = id.replace("button", "");

            model.changeDiagramType(diagramId);
        };

        var onChangeDataCollectingClick = function (id) {

            var diagramId = id.replace("button", "");

            model.onChangeDataCollectingClick(diagramId);
        };
    </script>
    @RenderBody()
        </head>
        <body>
        </body>
</html>