<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFDataSourceOf_ValueEvent"/>
        <binding name="BasicHttpBinding_IWCFDataSourceOf_NonValueEvent" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/StreamInsight/wcf/Source/AppFabricEventService/AppFabricEventService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFDataSourceOf_ValueEvent"
          contract="NonValueProxy.IWCFDataSourceOf_ValueEvent" name="BasicHttpBinding_IWCFDataSourceOf_ValueEvent" />

      <endpoint address="http://localhost:8088/StreamInsight/wcf/Source/AppFabricValueEventService/AppFabricValueEventService"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFDataSourceOf_NonValueEvent"
            contract="ValueEventProxy.IWCFDataSourceOf_NonValueEvent"
            name="BasicHttpBinding_IWCFDataSourceOf_NonValueEvent" />
    </client>
  </system.serviceModel>
</configuration>