<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="MainLog" xsi:type="File"
						layout="${longdate}	"
						fileName="${basedir}/Example.log.txt"
						archiveFileName="${basedir}/Example.log.{#####}.txt"
						archiveAboveSize="20000000"
						maxArchiveFiles="10"
						archiveNumbering="Sequence"
						concurrentWrites="true"
						keepFileOpen="false"
						encoding="utf-8"
		/>
	</targets>

	<rules>
		<logger name="Sychev.Example.*" minlevel="Debug" writeTo="MainLog" />
	</rules>
</nlog>