<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="streamInsightAppName" value="TestApp"/>
    <add key="streamInsightServerName" value="Default"/>
    <add key="streamInsightPort" value="8088"/>
    <add key="signalRHubUrl" value="http://localhost:8001/signalr/hubs"/>
    <add key="serverName" value="localhost"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
  <system.diagnostics>
    <!--<sources>
      <source name="System.ServiceModel"
              switchValue="Critical, Error"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "C:\AppFabric\Logs\Traces.svclog" />
        </listeners>
      </source>
    </sources>-->
  </system.diagnostics>
</configuration>