<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWCFDataSourceOf_ValueEvent"/>
        <binding name="BasicHttpBinding_IWCFDataSourceOf_NonValueEvent" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8088/StreamInsight/wcf/Source/AppFabricEventService/AppFabricEventService"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFDataSourceOf_ValueEvent"
          contract="NonValueProxy.IWCFDataSourceOf_ValueEvent" name="BasicHttpBinding_IWCFDataSourceOf_ValueEvent" />

      <endpoint address="http://localhost:8088/StreamInsight/wcf/Source/AppFabricValueEventService/AppFabricValueEventService"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFDataSourceOf_NonValueEvent"
            contract="ValueEventProxy.IWCFDataSourceOf_NonValueEvent"
            name="BasicHttpBinding_IWCFDataSourceOf_NonValueEvent" />
    </client>
    <extensions>
      <behaviorExtensions>
        <add name="monitoringTracking" type="Sychev.Monitoring.TrackingParticipant.MonitoringBehaviorExtensionElement, Sychev.Monitoring.TrackingParticipant, Version=1.0.0.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <monitoringTracking profileName="RequestStoryTracking"/>
          <etwTracking profileName="RequestStoryTracking" />
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <tracking>
      <profiles>
        <trackingProfile name="RequestStoryTracking" >
          <workflow activityDefinitionId="*">
            <activityStateQueries>
              <activityStateQuery activityName="Receive">
                <states>
                  <state name="Executing"/>
                </states>
              </activityStateQuery>
              <activityStateQuery activityName="SendReplyToReceive">
                <states>
                  <state name="Executing"/>
                </states>
              </activityStateQuery>
            </activityStateQueries>
            <workflowInstanceQueries>
              <workflowInstanceQuery>
                <states>
                  <state name="Started"/>
                  <!--<state name="Completed"/>-->
                </states>
              </workflowInstanceQuery>
            </workflowInstanceQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>